
.right-form-image
  position: absolute
  right: 0
  top: 63px
  max-height: 97vh
  width: 45vw
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  overflow: hidden

.right-form-image-styler
  background-color: #fff
  height: 100vh
  width: 160px
  position: relative
  top: -30px
  left: -100px
  transform: rotate(5deg)

.action-form
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  max-width: 500px
  align-items: center

  button
    width: 100%
    height: auto
    padding: 4px

.action-form-title
  color: #121037
  font-weight: bold
  font-size: 48px
  line-height: 56px
  margin: 0

.action-form-subtitle
  color: #546e7a
  font-size: 20px
  a
    margin-left: 10px
    color: #3f51b5
    font-weight: bold

.action-form-input
  border: 1px solid rgba(0, 0, 0, 0.23) !important
  border-radius: 4px !important
  padding: 4px 14px !important
  box-shadow: none !important
  max-width: 94% !important
  margin-bottom: 20px !important

