.advantage-item 
  display: flex
  flex-direction: column
  align-items: flex-start
  max-width: 305px

.advantage-icon
  background-color: #e8eaf6
  width: 70px
  height: 70px
  display: flex
  align-items: center
  justify-content: center
  border-radius: 16px
  i
    color: rgb(63, 81, 181)
    font-size: 30px

.advantage-item-title
  font-weight: bold
  color: #121037
  font-size: 20px
  margin-bottom: 15px

.advantage-item-subtitle
  color: #546e7a
  line-height: 28px
  font-size: 16px
  margin: 0
