.outline-btn {
    background-color: transparent;
    color: #3f51b5;
    border: 1px solid rgba(63, 81, 181, 0.5);
    box-shadow: none;
    font-family: "Lato", sans-serif;
    border-radius: 4px;
}

.outline-btn:hover {
    border: 1px solid #3f51b5;
    background-color: rgba(63, 81, 181, 0.04);
    box-shadow: none;
}