.user-item-wrapper
  cursor: pointer
  background-color: #fff
  border: 1px solid #eeeeee
  display: flex
  flex-direction: column
  align-items: flex-start
  padding: 48px 24px
  max-width: 241px
  transition: .3s all
  margin-bottom: 30px
  &:hover
    transition: .3s all
    transform: translate3d(0,-5px,0)
    box-shadow: 0 1.5rem 2.5rem rgba(22,28,45,.1),0 .3rem 0.5rem -.50rem rgba(22,28,45,.05) !important

.user-item-image
  border-radius: 50%
  width: 100px
  height: 100px
  background-repeat: no-repeat
  align-self: center
  -webkit-background-size: cover
  background-size: cover
  background-position: center

.user-item-subtitle
  margin-top: 0

.user-item-title
  color: #121037
  font-size: 18px
  font-weight: bold