.account-edit-main
  min-height: 100vh
  padding: 50px 0

.form-group
  display: flex
  flex-direction: column

.account-edit-form
  .action-form-title
    margin-bottom: 50px
    text-align: center

.account-edit-image
  width: 200px
  height: 200px
  border-radius: 50%
  background-repeat: no-repeat
  background-position: top
  background-size: cover

.form-group
  label
    font-weight: bold
    margin-bottom: 10px
  margin-bottom: 10px

.account-edit-image-wrapper
  input
    margin-top: 20px

.ql-editor
  min-height: 400px

.account-edit-form-button
  align-self: flex-end
  padding: 10px 20px
  font-size: 16px
  color: white
  background-color: #3f51b5 !important
  border: none
  cursor: pointer
  border-radius: 4px
  