.main-btn {
    color: white !important;
    background-color: #3f51b5 !important;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 15px;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    transition: .3s all;
    border: none;
}

.main-btn:hover {
    transition: .3s all;
    background-color: #303f9f !important;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}