
.right-form-image
  position: absolute
  right: 0
  top: 63px
  z-index: -1
  max-height: 97vh
  width: 45vw
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  overflow: hidden

.right-form-image-styler
  background-color: #fff
  height: 100vh
  width: 160px
  position: relative
  top: -30px
  left: -100px
  transform: rotate(5deg)

.action-form
  max-height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  max-width: 500px
  width: 100%
  align-items: center

  button
    width: 100%
    height: auto
    padding-top: 15px
    padding-bottom: 15px

.action-form-title
  color: #121037
  font-weight: bold
  font-size: 48px
  line-height: 56px
  margin: 0

.action-form-subtitle
  color: #546e7a
  margin-bottom: 40px
  font-size: 20px
  a
    margin-left: 10px
    color: #3f51b5
    font-weight: bold

.action-form-input
  border: 1px solid rgba(0, 0, 0, 0.23)
  outline: none
  border-radius: 4px !important
  padding: 18px 14px
  box-shadow: none !important
  font-size: 16px
  max-width: 100%
  width: 100%
  margin-bottom: 20px !important


.action-form-wrapper
  height: 88vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center