.home-page-first-screen
  margin-top: 40px
  padding-bottom: 40px

.home-page-first-screen img
  max-width: 100%

.home-page-first-screen .subTitle
  max-width: 460px

.home-page-buttons-wrapper .main-btn
  margin-right: 10px

.home-advantages
  margin-top: 80px

.home-page-buttons-wrapper
  margin-top: 10px


.personal-sites-section
  background-color: rgb(247, 249, 250)
  padding: 50px 0
  h2
    text-align: center
    font-weight: bold
    font-size: 32px
    span
      color: #f9b934
