.card-item
  cursor: pointer
  background-color: #fff
  border: 1px solid #eeeeee
  display: flex
  flex-direction: column
  align-items: flex-start
  padding: 48px 24px
  max-width: 241px
  margin-top: 30px
  transition: .3s all
  &:hover
    transition: .3s all
    transform: translate3d(0,-5px,0)
    box-shadow: 0 1.5rem 2.5rem rgba(22,28,45,.1),0 .3rem 0.5rem -.50rem rgba(22,28,45,.05) !important

.card-icon
  background-color: #e8eaf6
  width: 70px
  height: 70px
  display: flex
  align-items: center
  justify-content: center
  border-radius: 16px
  i
    color: rgb(63, 81, 181)
    font-size: 30px

.card-title
  color: #121037
  font-size: 20px
  font-weight: bold

.card-text
  color: #546e7a
  font-size: 16px
  line-height: 28px

.card-item-link
  align-self: flex-end