.account-header
  min-height: 250px
  width: 100%
  background-color: #3f51b5

.account-image-wrapper
  display: flex
  justify-content: center
  position: relative
  a
    position: absolute
    right: 0
    bottom: 0
    background-color: transparent
    color: white
    border: 1px solid rgba(255, 255, 255, 0.5)
    box-shadow: none
    font-family: "Lato", sans-serif
    border-radius: 4px
    padding: 5px 11px
    font-size: 12px
    cursor: pointer
    text-transform: uppercase

  a:last-child
    bottom: 40px

.account-image
  width: 200px
  height: 200px
  border-radius: 50%
  background-repeat: no-repeat
  background-position: top
  background-size: cover
  position: relative
  top: 100px