.navbar {
    background-color: white;
    box-shadow: none;
    border-bottom: 1px solid #eeeeee;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.nav-wrapper ul {
    list-style: none;
    display: flex;
}

.nav-wrapper ul li:not(:last-child) {
    margin-right: 30px;
}

.nav-wrapper ul li a {
    text-decoration: none;
}

nav .brand-logo {
    left: 0;
    font-size: 16px;
}

.navbar a {
    color: #546e7a;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}