.footer
  background-color: #1b1642
  padding: 30px 0
  p
    color: white
    text-align: center
    margin: 0
    text-transform: uppercase
    font-size: 16px
    a
      text-decoration: underline
      color: white