.profile-content
  padding-top: 40px
  background-color: rgb(247, 249, 250)
  min-height: 100vh
.profile-name
  font-size: 36px
  text-align: center
  margin-bottom: 0

.profile-subtitle
  text-align: center
  margin-top: 0
  font-size:  18px

.account-column-info
  display: flex
  flex-direction: column
  text-align: center
  justify-content: flex-end
  height: 100%
  align-items: center
  b
    margin-top: 5px
    display: block

.account-info
  background-color: white
  box-shadow: 0 2px 10px 0 rgba(23,70,161,.11)
  padding: 15px 0
  margin-top: 50px

.account-text
  margin-top: 80px
  padding-bottom: 40px
  h1,h2,h3,h4,h5,h6,b
    text-align: center
    display: block

  p
    font-family: "Lato", sans-serif
    font-size: 16px
    line-height: 28px

