h1, h2, h3, h4, h5, h6,.btn, p {
  font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #121037;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  padding: 10px 22px;
  cursor: pointer;
  text-transform: uppercase;
}

h1 span {
  color: #3f51b5;
  line-height: 56px;
}

.subTitle {
  font-family: "Lato", sans-serif;
  color: #546e7a;
  font-size: 20px;
}

hr.page-delimiter {
  background-color: #eeeeee;
  border: none;
  height: 1px;
  width: 100%;
  margin: 0;
}

.inputError {
  border-color: tomato !important;
}